/* COLOR PROPERTIES: 140 COLOR NAMES */
/* COLOR BACKGROUND-COLOR */

#first {
  color: lightslategray;
  background-color: chocolate;
}

#second {
  color: gray;
  background: yellow;
}

/* RGB */
#first {
  color: rgb(255, 0, 0);
  background: rgb(0, 0, 0);
}

#second {
  color: rgb(0, 255, 0);
  background: rgb(100, 34, 210);
}

/* HEX VALUES: #RRGGBB */
#first {
  color: #ff0000;
  background: #000;
}

#second {
  color: #fff;
  background: #00ff00;
}
