/* ELEMENT SELECTORS */
/* 
h1 {
  color: red;
}
h2 {
  color: green;
}
p {
  color: grey;
} */

/* GROUPING SELECTORS */
/* 
h1,
h2 {
  color: red;
} */

/* ID SELECTORS */
/* in corresponding .html: element needs to have id attribute*/
/* id should be unique */
/* 
#title {
  color: royalblue;
  background: black;
}
#subheading {
  color: green;
  background: grey;
} */

/* CLASS SELECTORS */
/* in corresponding .html: element needs to have class attribute*/
/* classes can be reused */
/* 
.green {
  color: green;
}
.red {
  color: red;
  background: grey;
} */

/* DIV SPAN */
/* 
div {
  color: red;
  background: grey;
}
span {
  text-transform: uppercase;
} */

/* INHERITANCE */
/* child element inherits styling from parent element unless explicitly changed */
/* 
body {
  font-family: monospace;
  line-height: 1.5em;
}
div {
  color: red;
  border: 3px solid black;
}
h2 {
  color: blue;
} */

/* LAST RULE AND SPECIFICITY * UNIVERSAL SELECTOR */
p {
  color: blue;
}
p {
  color: pink; /* Will be applied instead of the first rule */
}

.red {
  color: red;
}
h2 {
  color: green; /* Will NOT be applied as id/class rules are more specific */
}

* {
  color: blueviolet; /* Least specific but will apply to all elements/selectors */
}
